<?xml version="1.0" encoding="UTF-8"?>
<!-- 
/**
 * O2TI PagBank Discount in Instalmment.
 *
 * Copyright © 2024 O2TI. All rights reserved.
 *
 * @author    Bruno Elisei <brunoelisei@o2ti.com>
 * @license   See LICENSE for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="pagbank_base" type="text" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0">
                <include path="O2TI_PagBankDiscountInInstallment::system/discount_in_installment.xml"/>
            </group>
        </section>
    </system>
</config>
